body {
  background: #000;
  position: flex;
  padding: 10rem;
}

@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.container {
  width: 20em;
  position: flex;
  padding: 10rem;

}

@font-face {
  font-family: montserrat;
  src: url(montserrat.ttf);
}

h1 {
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #ced0d3;
    color: black;
    letter-spacing: -0.05em;
    font-family: montserrat;
    user-select: none;
    text-transform: uppercase;
    font-size: 4rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    width: 3em;
    position: flex;
}
h1:hover {
    text-shadow: -16px 6px 15px #ced0d3;
}

@font-face {
  font-family: font;
  src: url(font.ttf);
}

h2 {
  font-family: 'font';
  color: #fff;
  font-weight: bold;
  font-size: 0.3rem;
  line-height: 1.1;
  text-align: justify;
}

.line {
  font-family: 'Arial';
  color: gold;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.1;
}

.gold {
  font-family: 'font';
  color: gold;
  font-weight: bold;
  font-size: 0.5rem;
  line-height: 1.1;
}

span {
  display: block;
}

span:not(.light) {
  opacity: 0;
  animation: flashText 2s ease-out alternate infinite;
}

span.light {
  position: relative;
  display: inline-block;

  &:before {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: 120%;
    background: #fff;
    filter: blur(10px);
    content: "";
    opacity: 0;
    animation: flash .5s ease-out alternate infinite;
  }
}

@keyframes flash{
  to {
    opacity: 1;
  }
}

@keyframes flashText {
  to {
    opacity: 0.15;
  }
}

.author {
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #ced0d3;
    color: black;
    letter-spacing: -0.05em;
    font-family: montserrat;
    user-select: none;
    text-transform: uppercase;
    text-align: right;
    font-size: 2.5rem;
    padding-left: 50rem;
    width: 2em;
}

html { font-size:100%; }

.column {
  width: 100%;
}
