body {
  background: #000;
  padding: 22rem;
  width: 750px;
}

.container {
  width: 5em;
  height: 40em;
  justify-content: center;
  padding-top: none;

}

@font-face {
  font-family: montserrat;
  src: url(montserrat.ttf);
}

h1 {
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #ced0d3;
    color: black;
    letter-spacing: -0.05em;
    font-family: montserrat;
    user-select: none;
    text-transform: uppercase;
    font-size: 100px;
    padding-top: none;
    position: absolute;
    top: 1em;
    left: 3.7em;
    width: 2em;
}
h1:hover {
    text-shadow: -16px 6px 15px #ced0d3;
}

@font-face {
  font-family: font;
  src: url(font.ttf);
}

h2 {
  font-family: 'font';
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.1;
  text-align: justify;
}

.line {
  font-family: 'Arial';
  color: gold;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.1;
}

.gold {
  font-family: 'font';
  color: gold;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.1;
}

span {
  display: block;
}

span:not(.light) {
  opacity: 0;
  animation: flashText 2s ease-out alternate infinite;
}

span.light {
  position: relative;
  display: inline-block;

  &:before {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: 120%;
    background: #fff;
    filter: blur(10px);
    content: "";
    opacity: 0;
    animation: flash .5s ease-out alternate infinite;
  }
}

@keyframes flash{
  to {
    opacity: 1;
  }
}

@keyframes flashText {
  to {
    opacity: 0.15;
  }
}

h3 {
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #ced0d3;
    color: black;
    letter-spacing: -0.05em;
    font-family: montserrat;
    user-select: none;
    text-transform: uppercase;
    text-align: right;
    font-size: 30px;
    padding-top: none;
    position: fixed;
    top: 0.5em;
    left: 1230px;
    width: 2em;
}

html { font-size:100%; }

.column {
  width: 100%;
}

@media (min-width: 600px) {
  .column { width: 50%;} }

@media (min-width: 640px) { h1 {font-size:2rem;} }
@media (min-width:960px) { h2 {font-size:1.1rem;} }


  @media screen and (max-width: 1060px) {
      #primary { width:67%; }
      #secondary { width:30%; margin-left:3%;}
  }


  @media screen and (max-width: 768px) {
      #primary { width:100%; }
      #secondary { width:100%; margin:0; border:none; }
  }
