body{
  background-image: url('homepage.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
 }

body.paris{
  background-image: url('paris.png');
}

body.osaka{
  background-image: url('osaka.png');
}

body.istanbul{
  background-image: url('istanbul.png');
}

body.ulaanbaatar{
  background-image: url('ulaanbaatar.png');
}

body.yangon{
  background-image: url('yangon.png');
}

body.taipei{
  background-image: url('taipei.png');
}

body.rio{
  background-image: url('rio.png');
}

body.edinburgh{
  background-image: url('edinburgh.png');
}

body.waikiki{
  background-image: url('waikiki.png');
}

body.quebeccity{
  background-image: url('quebeccity.png');
}

body.lisbon{
  background-image: url('lisbon.png');
}

body.krakow{
  background-image: url('krakow.png');
}

body.jakarta{
  background-image: url('jakarta.png');
}

body.hanoi{
  background-image: url('hanoi.png');
}

body.guimaras{
  background-image: url('guimaras.png');
}

body.frankfurt{
  background-image: url('frankfurt.png');
}

body.dubai{
  background-image: url('seoul.png');
}

body.seoul{
  background-image: url('seoul.png');
}

body.amsterdam{
  background-image: url('amsterdam.png');
}

body.mexicocity{
  background-image: url('mexicocity.png');
}

body.newyork{
  background-image: url('newyork.png');
}

body.bangkok{
  background-image: url('bangkok.png');
}

body.venice{
  background-image: url('venice.png');
}

body.copenhagen{
  background-image: url('copenhagen.png');
}

body.xian{
  background-image: url('xian.png');
}

body.zermatt{
  background-image: url('zermatt.png');
}
