body {
  background-color: #F4C045;
}

.canvasbackground{
  position: absolute;
  top: 3rem;
  right: 1rem;
}

canvas{
   cursor: crosshair;
   border:black solid 1px;
   position: absolute;
   top: 5.5rem;
   right: 6rem;
   width: 30.5rem;
   height: 35.5rem;

}

.container{
  display: block;
  max-width: 30rem;
  max-height: 30rem;
  position: absolute;
  top: 4.5rem;
  left: 1rem;
}

.filter{
  display: none;
}
