* {
    box-sizing: border-box;
}

@font-face {
  font-family: fingerpaint;
  src: url(fingerpaint.ttf);
}

body {
    font-family: fingerpaint;
    font-weight: bold;

    position: relative;

    margin: 0;
    padding: 0;

    background: #f9f9f9;
}
canvas {
    display: block;

    cursor: default;
}
.toolbar {
    position: fixed;
    top: 0;

    display: flex;

    width: 100%;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    color: #eee;
    background: #222;
    box-shadow: 0 0 2px 2px rgba(47, 47, 47, .5);

    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    transition: top .5s;
}
@media screen and (min-width: 320px) {
    .toolbar {
        justify-content: space-around;
    }
}
@media screen and (min-width: 768px) {
    .toolbar {
        padding-bottom: 0;

        justify-content: space-between;
    }
}
.radius__tool {
    line-height: 50px;

    display: flex;

    align-items: center;
}
.radius__point {
    width: 150px;
}
.radius__point:focus {
    outline: none;
}
.radius__point::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    margin-top: -9px;

    border: 3px solid #222;
    border-radius: 50%;
    background-color: #eee;
}
.radius__point::-moz-range-thumb {
    width: 15px;
    height: 15px;

    border: 3px solid #222;
    border-radius: 50%;
    background-color: #eee;
}
.radius__point::-ms-thumb {
    width: 20px;
    height: 20px;

    border: 3px solid #222;
    border-radius: 50%;
    background-color: #eee;
}
.radius__point::-webkit-slider-runnable-track {
    height: 3px;

    background-color: #eee;
}
.radius__point:focus::-webkit-slider-runnable-track {
    outline: none;
}
.radius__point::-moz-range-track {
    height: 3px;

    background-color: #777;
}
.radius__point::-ms-track {
    height: 3px;

    background-color: #777;
}
.radius__point::-ms-fill-lower {
    background-color: HotPink;
}
.radius__point::-ms-fill-upper {
    background-color: black;
}
.radius__point,
.radius__point::-webkit-slider-runnable-track,
.radius__point::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type=radio] {
    display: none;
}
input[type=radio]:checked + .radio__colors:before {
    position: absolute;
    top: 50%;
    left: 50%;

    display: inline-block;

    width: 8px;
    height: 8px;

    content: '';
    transform: translate(-50%, -50%);

    border: 1px solid #eee;
    border-radius: 50%;
    background-color: #222;
}
.radio__colors {
    position: relative;

    display: inline-block;

    width: 30px;
    height: 30px;
    margin-right: 5px;

    border-radius: 50%;
    background-color: #111;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset, 0 2px 2px rgba(0,0,0,.5) inset;
}

.radio__colors:nth-child(2) {
    background: #f00;
}
.radio__colors:nth-child(4) {
    background: #2e8b57;
}
.radio__colors:nth-child(6) {
    background: #1e90ff;
}
.radio__colors:nth-child(8) {
    background: #ff0;
}

.radio__colors:nth-child(10) {
    background: #FFA500;
}

.radio__colors:nth-child(12) {
    background: #ff69b4;
}
.radio__colors:nth-child(14) {
    background: #a9a9a9;
}
.radio__colors:nth-child(16) {
    background: #111;
}
.radio__colors:nth-child(18) {
    background: #FFFFFF;
}

@media screen and (max-width: 480px) {
    .buttons__canvas {
        margin-top: 5px;
    }
}
.btn__save {
    border-color: #74c772;
    background: #74c772;
}
.btn__clear {
    border-color: #ff5b00;
    background: #ff5b00;
}
.btn__clear,
.btn__save {
    font-family: fingerpaint;

    color: #eee;
    outline: none;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    height: 650px;
}
.container {
    height: 100%;
}
.chick-container {
    width: 100%;
    height: 100%;
}
.chick-image {
    height: 30%;
    position: absolute;
    top: 11rem;
    left: 7rem;
    border-radius: 30px;
}

.filter{
  display: none;
}
