body {
  background-color: #F4C045;
}

.border {
  border-style: solid;
  border-width: medium;
  width: 87rem;
  height: 43.4rem;
  margin: 0.9rem;
}

@font-face {
  font-family: fingerpaint;
  src: url(fingerpaint.ttf);
}

@font-face {
  font-family: button;
  src: url(button.ttf);
}

#title {
  font-size: 9rem;
  font-family: fingerpaint;
  color: black;
  width:650px;
  margin-left: 22rem;
  line-height: 8rem;
  text-align: center;
  margin-top: 0.3em;
}

.chick {
  margin-left: 59rem;
  margin-top: -10rem;
}

#pencil {
  width: 240px;
  height: 270px;
  position: absolute;
  transform: rotate(270deg);
  top: 9.3rem;
  right: 3.4rem;
}

.borderwrap {
  margin-top: -20rem;
}

.button1 {
color: black;
font-size: 2.7rem;
font-family: fingerpaint;
text-transform: uppercase;
text-decoration: none;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 134px;
padding-right: 134px;
border: 2px solid black;
display: inline-block;
transition: all 0.3s ease 0s;
}

.button1:hover {
color: red;
text-decoration: none;
border-color: red;
transition: all 0.3s ease 0s;
}

.button2 {
color: black;
font-size: 2.7rem;
font-family: fingerpaint;
text-transform: uppercase;
text-decoration: none;
margin-top: 10px;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 103px;
padding-right: 103px;
border: 2px solid black;
display: inline-block;
transition: all 0.3s ease 0s;
}

.button2:hover {
color: yellow;
text-decoration: none;
border-color: yellow;
transition: all 0.3s ease 0s;
}

.button3 {
color: black;
font-size: 2.7rem;
font-family: fingerpaint;
text-transform: uppercase;
text-decoration: none;
margin-top: 10px;
padding-top: 3px;
padding-bottom: 3px;
padding-left: 128px;
padding-right: 128px;
border: 2px solid black;
display: inline-block;
transition: all 0.3s ease 0s;
}

.button3:hover {
color: blue;
text-decoration: none;
border-color: blue;
transition: all 0.3s ease 0s;
}
