body {
  background-color:white;
}

@font-face {
  font-family: fingerpaint;
  src: url(fingerpaint.ttf);
}

.chick{
  position: absolute;
  right: 5rem;
  top: 2rem;
}

h1 {
  font-family: fingerpaint;
  font-weight: bolder;
  text-align: center;
  position: relative;
  top: 250px;
  color: black;
  font-size: 5rem;
  text-shadow: 0 0 30px #FFFFFF;
}

h2 {
  font-family: fingerpaint;
  font-weight: bolder;
  text-align: center;
  position: relative;
  top: -30px;
  color: black;
  font-size: 4rem;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 4px 4px 0 #000;
}

a {
  text-decoration: none;
}

#btn1 {
  top: 50px;
}

#btn2 {
  top: 300px;
}

#btn3 {
  top: 540px;
}

div.button1 {
  background-color: red;
  color: #2c3e50;
  border: none;
  border-radius: 130px;
  width: 500px;
  height: 130px;
  position: fixed;
  left: -435px;
  transition: .7s ease;
}

div.button1:hover {
  background-color: red;
  position: fixed;
  left: -50px;
  width: 600px;
  border-radius: 100px;
  box-shadow: 0px 5px 0px red;
}

div.button1:active {
  background-color: red;
  transition: 0s;
  color: yellow;
}

div.button2 {
  background-color: yellow;
  color: yellow;
  border: none;
  border-radius: 130px;
  width: 500px;
  height: 130px;
  position: fixed;
  left: -435px;
  transition: .7s ease;
}

div.button2:hover {
  background-color: yellow;
  position: fixed;
  left: -50px;
  width: 1000px;
  border-radius: 100px;
  box-shadow: 0px 5px 0px yellow;
}

div.button2:active {
  background-color: yellow;
  transition: 0s;
  color: #ecf0f1;
}


div.button3 {
  background-color: blue;
  color: blue;
  border: none;
  border-radius: 130px;
  width: 500px;
  height: 130px;
  position: fixed;
  left: -435px;
  transition: .7s ease;
}

div.button3:hover {
  background-color: blue;
  position: fixed;
  left: -50px;
  width: 1420px;
  border-radius: 70px;
  box-shadow: 0px 5px 0px blue;
}

div.button3:active {
  background-color: blue;
  transition: 0s;
  color: blue;
}

.orange {
  position: absolute;
  top: -6rem;
  right: -5rem;
}

.green {
  position: absolute;
  top: 0rem;
  right: 57rem;
}

.pink {
  position: absolute;
  top: 33rem;
  right: 40rem;
  transform: rotate(60deg);
}

#brush {
  transform: rotate(70deg);
  position: absolute;
  top: -3rem;
  right: 5rem;
  width: 35rem;
}
